<div class="orders index">
  <h2>Drinks Submitted to Store</h2>
  <table class="listing" summary="Order list">

    <div class="main-container">
    <% @sentOrder.each do |order| %>
    <div class="card">
    <img src=
    <% case order.item_name %>
      <% when "Coffee" %>
        <%= asset_path('coffee_raw') %> alt="Cortado" style="width:100%">
      <% when "Americano" %>
        <%= asset_path('americano_raw') %> alt="Cortado" style="width:100%">
      <% when "Latte" %>
        <%= asset_path('latte_raw') %> alt="Cortado" style="width:100%">
      <% when "Cortado" %>
        <%= asset_path('cortado_raw') %> alt="Cortado" style="width:100%">
      <% when "Cappuccino" %>
        <%= asset_path('cappuccino_raw') %> alt="Cortado" style="width:100%">
      <% when "Mocha" %>
        <%= asset_path('mocha_raw') %> alt="Cortado" style="width:100%">
      <% when "Cold Brew" %>
        <%= asset_path('coldbrew_raw') %> alt="Cortado" style="width:100%">
      <% else %>
        <%= asset_path('coldbrew_raw') %> alt="Cortado" style="width:100%">
    <% end %>
    <div class="container">
      <h3><%= order.item_name %></h3>
        <p>
        <% case order.size %>
          <% when 1 %>
            <%= "Small" %>
          <% when 2 %>
            <%= "Medium" %>
          <% when 3 %>
            <%= "Large" %>
          <% when 4 %>
            <%= "Massive" %>
        <% end %>
        </p>
 
        <% if order.extraEspressoShots > 1 %>
          <p>
           <%= "#{order.extraEspressoShots} Extra Shots" %>
          </p>

          <% elsif order.extraEspressoShots == 1 %>
          <p>
           <%= "#{order.extraEspressoShots} Extra Shot" %>
          </p>
          <% else %>
        <% end %>

        <p>
        <% case order.milkType %>
          <% when "None" %>
            <%= "No Milk" %>
          <% when "Heavy Cream"%>
            <%= order.milkType %>
          <% else %>
            <%= "#{order.milkType} Milk"%>
          <% end %>
        </p>


        <% if order.flavor != "" %>
          <p>
            <%= order.flavor %>
          </p>
        <% end %>

        <% if order.decaf %>
         <p>
           <%= "Decaf" %>
         </p>
        <% end %>
          </div>
          </div>
    <% end %>
</div>
<br />
<br />

  <h2>Drinks In Progress</h2>
    <table class="listing" summary="Order list">
    <% @acceptedOrder.each do |order| %>
    <tr><th><%= order.item_name %></th></tr>
    <tr><td><%= order.size %></td></tr>
    <tr><td>
      <% if order.extraEspressoShots >=1 %>
      <%= order.extraEspressoShots %>
      <% end %>
    </td></tr>
    <tr><td><%= order.milkType %></td></tr>
    <tr><td>
      <% if order.flavor != "" %>
      <%= order.flavor %>
      <% end %>
    </td></tr>
      <tr><td>
      <% if order.decaf %>
      <%= "Decaf" %>
      <% end %>
    </td></tr>
    <% end %>
  </table>

<br />
<br />

  <h2>Completed Orders</h2>
    <table class="listing" summary="Order list">
    </tr>
    <% @readyOrder.each do |order| %>
    <tr><th><%= order.item_name %></th></tr>
    <tr><td><%= order.size %></td></tr>
    <tr><td>
      <% if order.extraEspressoShots >=1 %>
      <%= order.extraEspressoShots %>
      <% end %>
    </td></tr>
    <tr><td><%= order.milkType %></td></tr>
    <tr><td>
      <% if order.flavor != "" %>
      <%= order.flavor %>
      <% end %>
    </td></tr>
      <tr><td>
      <% if order.decaf %>
      <%= "Decaf" %>
      <% end %>
    </td></tr>
    <% end %>
  </table>
</div>
