
<div class="order new">
  <h2>Order Drink</h2>

  <%= form_for(@order, :url => ordering_index_path, :method => 'post') do |f| %>

    <table summary="Subject form fields">
      <tr>
        <th>Drink Name</th>
        <td><%= f.text_field(:item_name) %></td>
      </tr>
      <tr>
        <th>Size</th>
        <td><%= f.radio_button(:size, 1) %></td>
        <td><%= f.radio_button(:size, 2) %></td>
        <td><%= f.radio_button(:size, 3) %></td>
        <td><%= f.radio_button(:size, 4) %></td>
      </tr>
      <tr>
        <th>Extra Espresso Shots</th>
        <td><%= f.text_field(:extraEspressoShots) %></td>
      </tr>
      <tr>
        <th>Milk Type</th>
        <td><%= f.radio_button(:milkType, "Nonfat") %></td>

        <td><%= f.radio_button(:milkType, "1%") %></td>

        <td><%= f.radio_button(:milkType, "2%") %></td>

        <td><%= f.radio_button(:milkType, "Whole Milk") %></td>

        <td><%= f.radio_button(:milkType, "Heavy Cream") %></td>

        <td><%= f.radio_button(:milkType, "Oat Milk") %></td>

        <td><%= f.radio_button(:milkType, "Almond Milk") %></td>

        <td><%= f.radio_button(:milkType, "Cashew Milk") %></td>

        <td><%= f.radio_button(:milkType, "Soy") %></td>
      </tr>
      <tr>
        <th>Additional flavors?</th>
        <td><%= f.text_field(:flavor) %></td>
      </tr>
      <tr>
        <th>Decaf?</th>
        <td><%= f.check_box(:decaf) %></td>
      </tr>
    </table>
    <div class="form-buttons">
      <%= f.submit("Submit Drink") %>
    </div>

  <% end %>
</div>