
<div class="order new">
  <h2>Order Drink</h2>

  <%= form_for(@order, :url => ordering_index_path, :method => 'post') do |f| %>

    <table summary="Subject form fields">
      <tr>
        <th>Drink Name</th>
        <td class="autocomplete"><%= f.text_field(:item_name) %></td>
      </tr>
      <tr>
        <th>Size</th>
        <td class="autocomplete"><%= f.text_field(:size) %></td>
      </tr>
      <tr>
        <th>Extra Espresso Shots</th>
        <td><%= f.text_field(:extraEspressoShots) %></td>
      </tr>
      <tr>
        <th>Milk Type</th>
        <td class="autocomplete"><%= f.text_field(:milkType) %></td>
      </tr>
      <tr>
        <th>Additional flavors?</th>
        <td><%= f.text_field(:flavor) %></td>
      </tr>
      <tr>
        <th>Decaf?</th>
        <td><%= f.check_box(:decaf) %></td>
      </tr>
    </table>
    <div class="form-buttons">
      <%= f.submit("Submit Drink") %>
    </div>

  <% end %>

</div>
<script>
autocomplete(document.getElementById("order_item_name"), coffee);
autocomplete(document.getElementById("order_size"), size);
autocomplete(document.getElementById("order_milkType"), milk);
</script>