<div class="orders index">

  <h2>New Orders</h2>
  <table class="listing" summary="Order list">
    <tr class="header">
      <th>Drink Name</th>
      <th>Size</th>
      <th>Extra Espresso Shots</th>
      <th>Milk</th>
      <th>Additional Flavors</th>
      <th>Decaf?</th>
    </tr>
    <% @sentOrder.each do |order| %>
    <tr>
      <td><%= order.item_name %></td>
      <td><%= order.size %></td>
      <td><%= order.extraEspressoShots %></td>
      <td><%= order.milkType %></td>
      <td><%= order.flavor %></td>
      <td class="center"><%= order.decaf ? 'Yes' : 'No' %></td>
      <td><%= order.id %></td>
      <td class="actions">
      <%= button_to "Acknowledge", {:action => 'accept', :id => order.id} %>
      </td>
      <td><%= button_to 'Destroy', {:action => 'delete', :id => order.id} %></td>
    </tr>
    <% end %>
  </table>
<br />
<br />

  <h2>Acknowledged (In Progress)</h2>
    <table class="listing" summary="Order list">
    <tr class="header">
      <th>Drink Name</th>
      <th>Size</th>
      <th>Extra Espresso Shots</th>
      <th>Milk</th>
      <th>Additional Flavors</th>
      <th>Decaf?</th>
    </tr>
    <% @acceptedOrder.each do |order| %>
    <tr>
      <td><%= order.item_name %></td>
      <td><%= order.size %></td>
      <td><%= order.extraEspressoShots %></td>
      <td><%= order.milkType %></td>
      <td><%= order.flavor %></td>
      <td class="center"><%= order.decaf ? 'Yes' : 'No' %></td>
      <td class="actions">
      <%= button_to "Complete", {:action => 'complete', :id => order.id} %>
      <%= button_to 'Destroy', {:action => 'delete', :id => order.id} %>      
        </td>
    </tr>
    <% end %>
  </table>

<br />
<br />
</div>
