<!DOCTYPE html>
<html>
  <head>
    <title>Darkroast Coffee Co.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container">
  <header>
  <h1><%= link_to "Darkroast Coffee Co.", root_path, :method => :get %><%= button_to "Let's Start A New Order!", new_ordering_path, :class => 'action new', :method => :get %></h1>
  <h5>A demo CRUD application running on AWS for an imaginary coffee shop, on Rails.</h5>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <!-- Footer content -->
  </footer>
</div>
    
  </body>
</html>
